/* layouts */
@import url(layouts/dashboard.css);
@import url(layouts/section.css);

/* components */
@import url(components/navbar.css);
@import url(components/sidebar.css);
@import url(components/cards.css);
@import url(components/button.css);
@import url(components/footer.css);

:root {
  --main-dark-green: #309a39;
  --main-light-green: #d2ffe8;
}

body {
  background-color: white;
  color: rgb(38, 46, 41);
  font-family: "Quicksand", sans-serif;
}
