:root{
  --main-padding: 12px;
  --main-radius: 24px;
  --card-radius: 12px;
  --button-radius: 8px;
  --card-min-width: 10rem;
  --main-green: #A1FFCE;
  --main-dark-green: #1ca15d;
  --main-light-green: #d2ffe8;
}

body {
  background-color: white;
  color: rgb(33, 49, 39);
}

.container {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  text-align: center;

  display: grid;
  grid-template-columns: minmax(12rem, 1fr) 4fr;
  grid-template-rows: 3.6rem 1fr;
  grid-template-areas: 
    "nav      nav"
    "sidebar  main";
}

nav {
  background-color: white;
  padding: var(--main-padding);
  grid-area: nav;
}

.sidebar {
  background-color: white;
  padding: var(--main-padding);
  grid-area: sidebar;
}

.sidebar .divider {
  border: 0;
  margin: 0;
  border-top: 2px solid rgb(234, 234, 234);
  border-radius: 2px;
  margin-top: 1.6rem;
}

.sidebar-section-title {
  font-size: .6rem;
  letter-spacing: .04rem;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: .4rem;
}

.sidebar-nav-container {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  align-items: flex-start;
  padding: 0 1.2rem 0;
  font-size: .8rem;
  font-weight: 600;

}
.siderbar-nav {
  margin-top: .6rem;
  cursor: pointer;
}

.siderbar-nav i {
  padding-right: .5rem;
  height: 1rem;
  width: 1.25rem;
}

.siderbar-nav:hover {
  color: var(--main-dark-green);
}

.menu-icon{
  display: none;
}

.user-img {
  border-radius: 50%;
  width: 7.2rem;
  border: 4px solid var(--main-green);
  cursor: pointer;
  transition: 200ms transform ease-in-out;
}
.user-img:hover {
  /* border-color: var(--main-dark-green); */
  transform: scale(1.025);
}

.user-name {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

main {
  /* background-color: #e0f3e7; */
  background: var(--main-green);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #faffea, #b4f2d2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #faffea, #b4f2d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  overflow: auto;

  grid-area: main;
  border-top-left-radius: var(--main-radius);
  padding: 1.6rem 2.8rem 1.2rem 2rem;

  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-areas: 
  "section1"
  "section2"
  "section3"
  "footer";
  gap: 2rem;
}

.section1 {
  grid-area: section1;
}

.section2 {
  grid-area: section2;
}

.section3 {
  grid-area: section3;
}

footer {
  grid-area: footer;
}

.section-title {
  text-align: left;
  padding-top: 0.4rem;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: var(--card-radius);
  box-shadow: rgba(119, 228, 146, 0.2) 0px 8px 24px;
  min-width: var(--card-min-width);
  padding: var(--main-padding);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
  transition: 180ms transform ease-in-out;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(66, 194, 143, 0.25) 0px 30px 60px -12px, rgba(31, 183, 102, 0.3) 0px 18px 36px -18px;
  transform: scale(1.02);
}

/* Section 1 */
.section1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 1.6rem 8rem; */
  grid-template-rows: 1.6rem auto;
  grid-template-areas: 
  "title-monitor title-monitor title-monitor title-monitor"
  "calories steps workouts sleep";
  gap: 1rem;
}

#title-monitor {
  grid-area: title-monitor;
}

.monitor {
  height: 8rem;
  gap: 1rem;
}

#calories{
  grid-area: calories;
}

#steps{
  grid-area: steps;
}

#workouts{
  grid-area: workouts;
}

#sleep{
  grid-area: sleep;
}

.monitor .card-icon {
  font-size: 1.2rem;
  color: var(--main-dark-green);
  background-color: var(--main-light-green);
  padding: 1rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.monitor-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
}

.monitor-body .card-title {
  font-size: .8rem;
  font-weight: 800;
}

.monitor-body .monitor-number {
  font-size: 2rem;
  font-weight: 200;
  white-space: nowrap;
  
}

.monitor small {
  font-size: 0.9rem;
  font-weight: 500;
}

/* Section 2 */
.section2 {
    display: grid;
    grid-template-columns: 5fr 3fr;
    /* grid-template-rows: 1.6rem 12rem; */
    grid-template-rows: 1.6rem auto;
    grid-template-areas: 
    "title-challenge title-tips"
    "challenge tips";
    gap: 1rem;
}

#title-challenge {
  grid-area: title-challenge;
}

#challenge {
  grid-area: challenge;
}

#title-tips {
  grid-area: title-tips;
}

#tips {
  grid-area: tips;
}

#challenge, #tips {
  min-height: 200px;
  /* max-height: 400px; */
}


/* Section 3 */
.section3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 1.6rem 8rem; */
  grid-template-rows: 1.6rem auto;
  grid-template-areas: 
  "title-recipe title-recipe title-recipe title-recipe"
  "recipe1 recipe2 recipe3 recipe4";
  gap: 1rem;
}

#title-recipe {
  grid-area: title-recipe;
}

#recipe1 {
  grid-area: recipe1;
}

#recipe2 {
  grid-area: recipe2;
}

#recipe3 {
  grid-area: recipe3;
}

#recipe4 {
  grid-area: recipe4;
}

[id^=recipe] {
  height: 8rem;
}

/* ========================================= */

@media only screen and (max-width:1080px){
  .container{
    grid-template-columns: 1fr auto;
    grid-template-rows: 3.6rem 1fr;
    grid-template-areas: 
    "nav sidebar"
    "main main";
    grid-gap: 0;
  }

  .menu-icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: var(--button-radius);
  }
  
  .menu-icon:hover {
    background-color: var(--main-green);
  }

  .sidebar-body {
    display: none;
  }

  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 0.4fr;
    grid-template-areas: 
    "section1"
    "section2"
    "section3"
    "footer";
    padding: 1rem;
    border-top-left-radius: 0;
  }

  .section-title {
    text-align: center;
  }

  .section2 {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title-challenge"
    "challenge"
    "title-tips"
    "tips";
  }

  .section3 {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title-recipe"
    "recipe1"
    "recipe2"
    "recipe3"
    "recipe4";
  }

  .monitor > .card-icon {
    font-size: 1.6rem;
    width: 2.8rem;
    height: 2.8rem;
  }
}


@media only screen and (max-width:880px){
  .section1 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "title-monitor title-monitor"
    "calories steps"
    "workouts sleep";
  }

}

@media only screen and (max-width:480px){
  .section1 {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title-monitor"
    "calories" 
    "steps"
    "workouts" 
    "sleep";
  }
}


/* Fonts */

/* section-titles */
h2 {
  font-size: 1rem;
  font-weight: 500;
}

/* card-titles */
h3, .card {
  font-size:  0.8rem;
  font-weight: 400; 
}

/* footer */
footer {
  font-size: 0.8rem;
  text-decoration: none;
}

footer a,
footer a:visited {
  color: black;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

footer a:hover {
  opacity: 0.6;
  font-size: 0.85rem;
}

.fa-github {
  color: black;
  position: static;
  transition: 0.4s ease-in-out;
}

.fa-github:hover {
  transform: scale(1.4) rotate(360deg);
}
