/* section-titles */
h2 {
  font-size: 1rem;
  font-weight: 500;
}

main {
  /* background-color: #e0f3e7; */
  background: var(--main-green); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #faffea,
    #b4f2d2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #faffea,
    #b4f2d2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  overflow: auto;

  grid-area: main;
  border-top-left-radius: var(--main-radius);
  padding: 1.6rem 2.8rem 1.2rem 2rem;

  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-areas:
    "section1"
    "section2"
    "section3"
    "footer";
  gap: 2rem;
}

.section-title {
  text-align: left;
  padding-top: 0.4rem;
}

/* Section 1 */
.section1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.6rem auto;
  grid-template-areas:
    "title-monitor title-monitor title-monitor title-monitor"
    "calories steps workouts sleep";
  gap: 1rem;
}

#title-monitor {
  grid-area: title-monitor;
}

.monitor {
  height: 8rem;
  gap: 1rem;
}

#calories {
  grid-area: calories;
}

#steps {
  grid-area: steps;
}

#workouts {
  grid-area: workouts;
}

#sleep {
  grid-area: sleep;
}

/* Section 2 */
.section2 {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 1.6rem auto;
  grid-template-areas:
    "title-challenge title-tips"
    "challenge tips";
  gap: 1rem;
}

#title-challenge {
  grid-area: title-challenge;
}

#challenge {
  grid-area: challenge;
}

#title-tips {
  grid-area: title-tips;
}

#tips {
  grid-area: tips;
}

/* Section 3 */
.section3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.6rem auto;
  grid-template-areas:
    "title-recipe title-recipe title-recipe title-recipe"
    "recipe1 recipe2 recipe3 recipe4";
  gap: 1rem;
}

#title-recipe {
  grid-area: title-recipe;
}

#recipe1 {
  grid-area: recipe1;
}

#recipe2 {
  grid-area: recipe2;
}

#recipe3 {
  grid-area: recipe3;
}

#recipe4 {
  grid-area: recipe4;
}

/* Desktop */
@media only screen and (max-width: 1080px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 0.4fr;
    grid-template-areas:
      "section1"
      "section2"
      "section3"
      "footer";
    padding: 1rem;
    border-top-left-radius: 0;
  }

  .section-title {
    text-align: center;
  }
}

/* Tablet */
@media only screen and (max-width: 880px) {
  .section1 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title-monitor title-monitor"
      "calories steps"
      "workouts sleep";
  }

  .section2 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title-challenge"
      "challenge"
      "title-tips"
      "tips";
  }

  .section3 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title-recipe"
      "recipe1"
      "recipe2"
      "recipe3"
      "recipe4";
  }
}

/* Tablet */
@media only screen and (max-width: 880px) {
  .section1 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title-monitor title-monitor"
      "calories steps"
      "workouts sleep";
  }

  .section2 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title-challenge"
      "challenge"
      "title-tips"
      "tips";
  }

  .section3 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title-recipe"
      "recipe1"
      "recipe2"
      "recipe3"
      "recipe4";
  }
}

/* Smartphone */
@media only screen and (max-width: 480px) {
  .section1 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title-monitor"
      "calories"
      "steps"
      "workouts"
      "sleep";
  }
}
