.button-primary {
  margin-top: 8px;
  background-color: var(--main-light-green);
  border: 1px solid var(--main-dark-green);
  border-radius: var(--button-radius);
  padding: var(--button-padding);
}

.button-primary:hover {
  background-color: var(--main-dark-green);
  color: white;
}
