/* card-titles */
h3 {
  font-size: 0.8rem;
  font-weight: 400;
}

.cards {
  display: flex;
  gap: 1rem;
}

.card {
  flex: 1;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.8)
  );
  border-radius: var(--card-radius);
  box-shadow: rgba(119, 228, 146, 0.2) 0px 8px 24px;
  min-width: var(--card-min-width);
  padding: 24px 12px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  transition: 180ms transform ease-in-out;
  border: 1px solid transparent;
}

.card:hover {
  background-image: linear-gradient(
    to top,
    transparent,
    rgba(255, 255, 255, 0.8)
  );
  border: 1px solid white;
  box-shadow: rgba(66, 194, 143, 0.25) 0px 30px 60px -12px,
    rgba(31, 183, 102, 0.3) 0px 18px 36px -18px;
  transform: scale(1.02);
}

/* Monitor */

.card.monitor {
  height: 4rem;
  gap: 1rem;
  align-items: center;
}

.card.monitor .card-icon {
  font-size: 1.2rem;
  color: var(--main-dark-green);
  background-color: var(--main-light-green);
  padding: 1rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .card-icon {
  background: white;
}

.monitor-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.monitor-body .card-title {
  font-size: 0.8rem;
  font-weight: 800;
}

.monitor-body .monitor-number {
  font-size: 2rem;
  font-weight: 200;
  white-space: nowrap;
}

.monitor small {
  font-size: 0.9rem;
  font-weight: 500;
}

/* Challenge & Tips */

.card.challenge,
.card.tips {
  min-height: 200px;
}

.card.challenge {
  /* background-image: url(../../images/challenge.jpeg); */
  background-image: linear-gradient(
      to right,
      rgba(225, 255, 236, 0.6),
      rgba(21, 98, 56, 0.7)
    ),
    url(../../images/challenge.jpeg);
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
  text-align: start;
  border: none;
}

.card.challenge p {
  width: 70%;
  line-height: 1.4rem;
}

.card.recipe {
  height: 8rem;
  min-height: 120px;
  align-items: flex-start;
}

/* Tablet */
@media only screen and (max-width: 880px) {
  .card.monitor .card-icon {
    font-size: 1.6rem;
    width: 2.8rem;
    height: 2.8rem;
  }

  .card.challenge p {
    width: 100%;
    line-height: 1.4rem;
  }
}

/* Smartphone */
@media only screen and (max-width: 480px) {
  .cards {
    flex-direction: column;
  }
}
