footer {
  font-size: 0.8rem;
  text-decoration: none;
  height: fit-content;
}

footer a,
footer a:visited {
  color: black;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

footer a:hover {
  opacity: 0.6;
  font-size: 0.85rem;
}
