nav {
  background-color: rgb(255, 255, 255);
  padding: 12px;
  padding-right: 2.8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search input {
  accent-color: var(--main-dark-green);
  width: 16rem;
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 8px 12px;
  background-color: rgb(243, 243, 243);
  transition: background-color 200ms;
}

.search input:focus,
.search input:hover {
  background-color: var(--main-light-reen);
  border: 1px solid var(--main-dark-green);
}

.search button {
  cursor: pointer;
  border-radius: 50px;
  width: 2.4rem;
  padding: 8px;
  border: none;
  color: var(--main-dark-green);
  background: var(--main-light-green);
  transition: background-color 200ms;
}

.search button:hover {
  background-color: var(--main-dark-green);
  color: var(--main-light-green);
}

/* Desktop */
@media only screen and (max-width: 1080px) {
  nav {
    padding: 12px;
  }
}

/* Tablet */
@media only screen and (max-width: 880px) {
  .search {
    display: none;
  }
}
